@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


:root {
    --todolist-border-color: grey;
    --alternate-bg-color: rgb(147, 255, 170);
    --primary-bg-color: rgb(192, 255, 206);
    --font: 'Roboto', sans-serif;
}

* {
    font-family: var(--font);
}

.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-container {
    width: 80vw;
    height: 80vh;
    border: 1px solid var(--todolist-border-color);
    border-radius: 0.5rem;
    margin-top: 3rem;
}

.todo-controls {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0.25rem 0.25rem;
}

.todo-row {
    height: 2.5rem;
    border-bottom: 1px solid var(--todolist-border-color);
    display: flex;
    justify-content: center;
}

.todo-row:nth-child(even) {
    background-color: var(--alternate-bg-color);
}

.todo-row:nth-child(odd) {
    background-color: var(--primary-bg-color);
}

.todo-cell {
    
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-cell + .todo-cell {
    border-left: 1px solid var(--todolist-border-color);
}