@mixin centerEl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

body, #root, #app, .intro-container {
    @include centerEl;
    text-align: center;
}

.app-icon {
    height: 50vh;
    width: 50vh;
    animation: 8s infinite rotate;
    animation-timing-function: linear;
}

.intro {
    font-family: Arial, Helvetica, sans-serif;
}
